<!--<div *ngIf="!prodotto; then redirectToHome"><ng-template #redirectToHome>-->

<button mat-raised-button routerLink="/home" id="gg">Torna alla Home</button>

<div  *ngFor="let Prodotto of prodotto" id="product">
  <div id="div-img">
    <img src={{Prodotto.immagine}} alt="error" id="img">

  </div>
  <div id="grandezza">SizeX: {{Prodotto.SizeX}}  SizeY:{{Prodotto.SizeY}}  SizeZ:{{Prodotto.SizeZ}}</div>
  <div class="text-right">
    <h1 class="nome">{{ Prodotto.Nome }}</h1>
    <div class="dettagli">
      <h4>Produttore: {{Prodotto.Produttore}}</h4>
      <p>Descrizione: {{Prodotto.Descrizione}}</p>
      <p>Data di aggiunta: {{Prodotto.Data_Rilascio}}</p>
      <p>Materiale: {{Prodotto.Materiale}}</p>
      <div class="acquista">
        <h2 id="prezzo">{{Prodotto.Prezzo}}€</h2>
        <button mat-raised-button id="Add">Aggiungi al carrello</button>
      </div>

    </div>

  </div>
</div>
<!--</ng-template></div>-->
