<mat-toolbar id="toolbar">
  <div class="logo-container">
    <button mat-icon-button (click)="togglePanel()" class="logo-button" aria-label="Example icon-button with menu icon">
      <img id="logo" src="https://media.discordapp.net/attachments/776414479218638879/1189866721939558440/teddy-bear-logo-modern-flat-cute-plushy-toy-vector-8667521.jpg?ex=6620ebbd&is=660e76bd&hm=9e1e5bae9a8b91ada475a5eb9ad2fcab5121b40ccc01efb65bd65d4cd8b3d6fa&=&format=webp&width=351&height=350"/>
    </button>
  </div>
  <span id="title">Negozietto Pupazzi</span>
  <span class="example-spacer">
  </span>
  <div id="ricercato-container">
    <input type="text" id="ricercato" placeholder="ricerca" >
    <button mat-icon-button id="ricerca-icon">
      <mat-icon style="color:#222021">search</mat-icon>
    </button>
  </div>
  <span class="example-spacer">

  </span>

  <button mat-icon-button aria-label="Example icon-button with share icon">
    <mat-icon>exit_to_app</mat-icon>
  </button>
  <button mat-icon-button aria-label="Example icon-button with heart icon">
    <mat-icon>account_circle</mat-icon>
  </button>
  <button mat-icon-button aria-label="Example icon-button with share icon">
    <mat-icon>shopping_cart</mat-icon>
  </button>
</mat-toolbar>

<div id="menu-tendina" [hidden]="!panelOpenState">
<mat-accordion>
  <mat-expansion-panel [expanded]="panelOpenState" (opened)="panelOpenState = true" (closed)="panelOpenState = false">

    <mat-list>

      <mat-list-item class="tendina-item" (click)="navigateTo('home')">Home</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item class="tendina-item" (click)="navigateTo('chi-siamo')">Chi Siamo</mat-list-item>

    </mat-list>
  </mat-expansion-panel>
</mat-accordion>
</div>
<router-outlet></router-outlet>
